@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;1,400;1,500;1,600&display=swap&family=Arima+Madurai:wght@400;700;900&family=Open+Sans&display=swap");
:root {
  --color-primary: #2c5727;
  --color-primary-light: #5fad56;
  --color-primary-light-al4: rgba(95, 173, 86, 0.4);
  --color-secondary: #428afd;
  --color-secondary-al4: rgba(66, 138, 253, 0.4);
  --color-secondary-dark: #1856bb;
  --color-absolute-white: #fff;
  --color-absolute-black: #000;
  --color-contrast-light: #e1e0e0;
  --color-contrast-dark: #161616;
  --type-sans-serif: "Work Sans", sans-serif;
  --type-serif: "Arima Madurai", serif;
  --font-size-base: 20px;
  --font-size-lg: 3em;
  --font-size-md: 2em;
  --font-size-sm: 1em;
  --font-size-tiny: 0.875em;
  --spacer-lg: 3em;
  --spacer-md: 2em;
  --spacer-base: 1em;
  --spacer-sm: 0.5em;
  --spacer-tiny: 0.25em;
  font-size: var(--font-size-base);
  font-family: var(--type-sans-serif);
  line-height: 1.5;
  word-spacing: -0.5px;
}
@-ms-viewport {
  width: device-width;
}
html {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  overflow-x: clip;
}
html * {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: clip;
  background: linear-gradient(183deg, var(--color-absolute-white), var(--color-contrast-light));
  color: var(--color-contrast-dark);
}

.content {
  width: 90%;
  max-width: 650px;
  margin: var(--spacer-sm) auto;
}

.star-tl {
  position: relative;
}
.star-tl:before {
  content: url("../img/svg/green-star.svg");
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
  display: block;
  width: calc(1.5 * var(--spacer-md));
  height: calc(1.5 * var(--spacer-md));
  transform: rotate(125deg);
}

h1 {
  position: relative;
  font-size: 3.6em;
  font-family: var(--type-serif);
  font-weight: 900;
  color: var(--color-primary);
  letter-spacing: -1.5px;
  margin-bottom: 0;
}
@media screen and (min-width: 650px) {
  h1 {
    font-size: 5em;
    margin-bottom: initial;
    max-width: 625px;
  }
}
@media screen and (min-width: 1240px) {
  h1 {
    padding-left: var(--spacer-sm);
  }
}
h1 span.up {
  display: block;
  font-size: 0.75em;
  margin-bottom: calc(-1.5 * var(--spacer-sm));
}
h1 span.side {
  display: inline-block;
  font-size: 0.675em;
  margin-left: var(--spacer-base);
  margin-right: var(--spacer-tiny);
}
h1:before {
  content: url("../img/svg/blue-star.svg");
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
  display: block;
  width: calc(1.25 * var(--spacer-md));
  height: calc(1.25 * var(--spacer-md));
  transform: rotate(-25deg);
}
@media screen and (min-width: 768px) {
  h1:before {
    left: calc(-1 * var(--spacer-sm));
  }
}

.h2 {
  font-size: 1.475em;
  font-family: var(--type-serif);
  font-weight: 700;
  color: var(--color-secondary);
  letter-spacing: -1px;
  line-height: 1.25;
}

p {
  font-size: 1.2em;
  letter-spacing: -1px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  p {
    max-width: 625px;
    margin-left: auto;
    margin-right: auto;
  }
}

a {
  font-weight: 500;
  text-decoration: none;
  color: var(--color-primary);
  transition: margin-top 2s ease-in-out;
}
a:after {
  content: url("../img/svg/link.svg");
  display: inline-block;
  vertical-align: text-top;
  height: var(--spacer-base);
  width: var(--spacer-base);
  margin-top: calc(0.25 * var(--spacer-tiny));
  margin-left: calc(-0.5 * var(--spacer-tiny));
}
a:hover, a:focus {
  color: var(--color-secondary-dark);
  text-decoration: underline;
}
a:hover:after, a:focus:after {
  margin-top: calc(-0.5 * var(--spacer-tiny));
}
a.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 0.3em 1em 0.2em;
  font-size: 0.875em;
  font-family: var(--type-sans-serif);
  text-align: center;
  color: var(--color-contrast-dark);
  background: var(--color-secondary-al4);
  border: calc(0.5 * var(--spacer-tiny)) solid var(--color-secondary);
  border-radius: var(--spacer-md);
  transition: all 0.2s ease-in-out;
}
a.btn:hover, a.btn:focus {
  text-decoration: none;
  background: linear-gradient(104deg, var(--color-secondary-dark) 20%, var(--color-primary) 100%);
  color: var(--color-absolute-white);
}
a.btn:after {
  display: none;
}

code {
  font-weight: bold;
  color: transparent;
  background: linear-gradient(104deg, var(--color-secondary-dark) 20%, var(--color-primary) 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

.intro {
  position: relative;
}
@media screen and (min-width: 768px) {
  .intro {
    margin: 0 auto;
  }
}
.intro:before {
  content: url("../img/svg/green-star.svg");
  position: absolute;
  top: calc(-1 * var(--spacer-sm));
  right: var(--spacer-md);
  z-index: -1;
  opacity: 0.3;
  display: block;
  width: calc(3.25 * var(--spacer-lg));
  height: calc(3.25 * var(--spacer-lg));
}
@media screen and (min-width: 650px) {
  .intro:before {
    top: calc(-1 * var(--spacer-md));
  }
}
@media screen and (min-width: 768px) {
  .intro:before {
    top: calc(-1 * var(--spacer-lg));
    right: calc(-1 * var(--spacer-md));
  }
}
.intro:after {
  content: url("../img/svg/blue-star.svg");
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.2;
  display: block;
  width: calc(3 * var(--spacer-lg));
  height: calc(3 * var(--spacer-lg));
  transform: rotate(208deg);
}
@media screen and (min-width: 768px) {
  .intro:after {
    right: var(--spacer-md);
  }
}
.intro .star-tl:before {
  top: calc(-1 * var(--spacer-base));
  left: var(--spacer-md);
}

.contact {
  position: relative;
}
.contact:after {
  content: url("../img/svg/green-star.svg");
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.4;
  display: block;
  width: var(--spacer-md);
  height: var(--spacer-md);
  transform: rotate(-25deg);
}
@media screen and (min-width: 768px) {
  .contact:after {
    right: calc(-1 * var(--spacer-sm));
  }
}

@media screen and (min-width: 650px) {
  .contact,
.resume {
    display: inline-block;
    vertical-align: middle;
    width: calc(50% - var(--spacer-sm));
    text-align: center;
  }
}
@media screen and (min-width: 650px) {
  .contact .btn,
.resume .btn {
    min-width: 200px;
  }
}
@media screen and (min-width: 650px) {
  .contact .h2,
.resume .h2 {
    margin: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
