@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;800&family=Work+Sans:ital,wght@0,400;1,400;1,600&display=swap');

:root {
    --color-primary: #428AFD;
    --color-primary-dark: #0a3d8f;
    --color-secondary: #5FAD56;
    --color-secondary-dark: #2c5727;
    --color-contrast-dark: #161616;
    --color-alpha-primary: rgba(26, 169, 225, .2);
    --color-alpha-primary-dark: rgba(10, 61, 143, .6);
    --color-alpha-secondary: rgba(95, 173, 86, .25);
    --color-alpha-neutral: rgba(161, 161, 161, 0.1);
    
    --type-serif: "Arima Madurai",cursive;
    --type-sans-serif: "Work Sans",sans-serif;

    --font-size-xl: 3.2rem;
    --font-size-lg: 3.2rem;
    --font-size-md: 2.4rem;
    --font-size-sm: 1.5rem;
    --font-size-xs: .75rem;

    --spacer-xl: 5rem;
    --spacer-lg: 3.2rem;
    --spacer-md: 2.4rem;
    --spacer-sm: 1.75rem;
    --spacer-xs: .5rem;

    font-size: var(--font-size-sm);
    font-family: var(--type-sans-serif);
    line-height: 1.5;
    letter-spacing: -1px;
    word-spacing: -.5px;
    color: var(--color-contrast-dark);
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
}

@-ms-viewport{
    width: device-width;
}

// COLOR BLOCKS
.primary-block {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    background-color: var(--color-primary);
    z-index: -1;
}

.secondary-block {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    background-color: var(--color-secondary);
    z-index: -1;
}

.secondary-alpha-block {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    background-color: var(--color-alpha-secondary);
    z-index: -1;
}

.neutral-block {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    background-color: var(--color-alpha-neutral);
    z-index: -1;
}

// TYPOGRAPHY DECLARATIONS
h1, h2, h3, h4 {
    display: block;
    font-family: var(--type-serif);
    margin: 0;
    line-height: 1;
}

h1, h2 {
    position: relative;
    color: var(--color-contrast-dark);
    background-color: var(--color-alpha-secondary);
    padding: var(--spacer-xs) var(--spacer-sm);

    @media screen and (min-width: 600px){
        padding-left: calc(var(--spacer-md) + var(--spacer-xs));
    }

    @media screen and (min-width: 900px){
        padding-left: calc(var(--spacer-md) + var(--spacer-sm));
    }

    @media screen and (min-width: 1200px){
        padding-left: calc(var(--spacer-md) + var(--spacer-md));
    }

    @media screen and (min-width: 1400px){
        padding-left: calc(var(--spacer-md) + var(--spacer-xl));
    }

    &::before {
        @extend .primary-block;
        top: 0;
        left: 0;
        width: 7vw;
    }

    &::after {
        @extend .secondary-block;
        top: 0;
        right: 0;
        width: 10vw;
    }

    svg {
        margin-top: 1rem;

        @media screen and (min-width: 1400px){
            max-width: 70vw;
        }
    }

    text, tspan {
        margin: 0;
        padding: 0;
        line-height: 1;
    }
}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-sm);

    @media screen and (min-width: 1400px){
        font-size: 2em;
    }
}

h3 {
    color: var(--color-contrast-dark);
    font-size: 1.1em;
    margin: var(--spacer-xs) var(--spacer-sm);

    @media screen and (min-width: 600px){
        margin-left: calc(var(--spacer-md) + var(--spacer-xs));
        margin-right: calc(var(--spacer-md) + var(--spacer-xs));
    }

    @media screen and (min-width: 900px){
        margin-left: calc(var(--spacer-md) + var(--spacer-sm));
        margin-right: calc(var(--spacer-md) + var(--spacer-sm));
    }

    @media screen and (min-width: 1200px){
        margin-left: calc(var(--spacer-md) + var(--spacer-md));
        margin-right: calc(var(--spacer-md) + var(--spacer-md));
    }

    @media screen and (min-width: 1400px){
        margin-left: 0;
        margin-right: 0;
        font-size: 1.2em;
    }
}

h4 {
    color: var(--color-primary);
    font-size: 1em;
    margin-top: var(--spacer-xs);
}

a {
    display: inline-block;
    position: relative;
    color: var(--color-primary);
    text-decoration: none;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 4px;
        left: 0;
        background-color: var(--color-alpha-primary-dark);
    }
}


// SECTION STYLES
.content {
    & > section:not(.contact) {
        min-height: 75vh;

        @media screen and (min-width: 1400px){
            min-height: 90vh;
        }
    }

    & > section + section {
        margin-top: var(--spacer-lg);

        @media screen and (min-width: 1400px){
            margin-top: var(--spacer-xl);
        }
    }
}

.intro {
    margin-top: var(--spacer-sm);

    @media screen and (min-width: 1400px){
        margin-top: var(--spacer-md);
    }

    p {
        margin: calc(var(--spacer-xs) * 2);

        @media screen and (min-width: 600px){
            margin-left: calc(var(--spacer-md) + var(--spacer-xs));
            margin-right: calc(var(--spacer-md) + var(--spacer-xs));
        }

        @media screen and (min-width: 900px){
            margin-left: calc(var(--spacer-md) + var(--spacer-sm));
            margin-right: calc(var(--spacer-md) + var(--spacer-lg));
        }

        @media screen and (min-width: 1200px){
            margin-left: calc(var(--spacer-md) + var(--spacer-md));
            margin-right: calc(var(--spacer-xl) + var(--spacer-xl) + var(--spacer-sm));
        }

        @media screen and (min-width: 1400px){
            margin-left: calc(var(--spacer-md) + var(--spacer-xl));
            margin-right: calc(var(--spacer-xl) * 3.5);
            font-size: 1.32em;
        }
    }
}

.resume {
    & > ul {
        list-style: none;
        margin: 0;
        padding: 0;

        @media screen and (min-width: 1400px){
            display: grid;
            justify-content: space-around;
            grid-template-columns: 62% calc(38% - var(--spacer-sm) * 2);
            grid-gap: var(--spacer-md);
            grid-auto-flow: dense;
            margin: 0 calc(var(--spacer-xl) + var(--spacer-md));
            margin-top: var(--spacer-xs);
        }

        & > li + li { 
            margin-top: var(--spacer-sm);

            &:not(.edu) {
                @media screen and (min-width: 1400px){
                    margin-top: calc(var(--spacer-xs) / 2);
                }
            }
        }

        & > li:first-child {
            @media screen and (min-width: 1400px){
                grid-row: 1/4;
                grid-column: 1/2;
            }
        }

        & > li:nth-child(2) {
            @media screen and (min-width: 1400px){
                grid-row: 1/2;
                grid-column: 2/3;
            }
        }

        & > li:nth-child(3) {
            @media screen and (min-width: 1400px){
                grid-column: 2/3;
            }
        }
    }
}

.experience {
    & > ul {
        list-style: none;
        margin: 0;
        padding: 0;

        @media screen and (min-width: 900px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: var(--spacer-sm);
            grid-auto-flow: column;
            padding: 0 calc(var(--spacer-md) + var(--spacer-sm));
        }

        @media screen and (min-width: 1200px){
            padding: 0 calc(var(--spacer-md) * 2);
        }

        @media screen and (min-width: 1400px){
            padding: 0;
        }
    }

    & > ul > li {
        padding: 0 var(--spacer-sm);

        @media screen and (min-width: 600px){
            padding-left: calc(var(--spacer-md) + var(--spacer-xs));
            padding-right: calc(var(--spacer-md) + var(--spacer-xs));
        }

        @media screen and (min-width: 900px){
            padding: 0;
        }

        &:first-child {
            @media screen and (min-width: 900px){
                grid-column: 1/2;
                grid-row: 1/4;
            }
        }
    }

    & > ul > li > ul, 
    & > ul > li > div {
        list-style: none;
        margin: 0 var(--spacer-xs);
        padding: 0 0 0 var(--spacer-xs);
        border-left: 2px solid var(--color-alpha-secondary);

        & > li {
            padding: var(--spacer-xs) 0 0;

            @media screen and (min-width: 900px){
                padding: calc(var(--spacer-xs) / 3) 0 0;
            }
        }

        p:not(.note) {
            margin-top: calc(var(--spacer-xs) / 2);
            font-size: .825em;

            @media screen and (min-width: 900px){
                font-size: .75em;
            }

            &:last-child {
                margin-bottom: var(--spacer-xs);
            }
        }
    }

    & > ul > li > div {
        padding-top: var(--spacer-xs);
    }

    strong {
        position: relative;
        color: var(--color-contrast-dark);
        background-color: var(--color-alpha-secondary);
        padding: var(--spacer-xs);
        font-size: .65em;
        text-transform: uppercase;
        letter-spacing: 1.1px;

        @media screen and (min-width: 900px){
            padding: calc(var(--spacer-xs) / 1.5);
            font-size: .6em;
        }

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 1px;
            left: 0;
            right: 0;
            background-color: var(--color-alpha-secondary);
        }
    }

    .note {
        position: relative;
        display: inline-block;
        padding: calc(var(--spacer-xs) / 3) 0;
        margin: 0;
        font-style: italic;
        font-size: .8em;
        line-height: 1;

        @media screen and (min-width: 900px){
            font-size: .75em;
            padding: calc(var(--spacer-xs) / 3.5) 0;
        }
        
        &::after {
            @extend .neutral-block;
            width: calc(100% + var(--spacer-sm));
            top: 0;
            left: -1rem;
        }
    }
}

.edu {
    section {
        position: relative;
        margin: 0 var(--spacer-sm);
        padding-top: calc(var(--spacer-xs) / 2);
        padding-left: var(--spacer-sm);

        @media screen and (min-width: 600px){
            margin-left: calc(var(--spacer-md) + var(--spacer-xs));
        }

        @media screen and (min-width: 900px){
            margin-left: calc(var(--spacer-md) + var(--spacer-sm));
        }

        @media screen and (min-width: 1200px){
            margin-left: calc(var(--spacer-md) * 2);
        }

        @media screen and (min-width: 1400px){
            margin-left: 0;
            margin-right: 0;
        }

        &::before {
            @extend .secondary-alpha-block;
            width: 1.25rem;
            height: 1.25rem;
            left: 0;
            top: 0;
            border-bottom: 1px solid var(--color-alpha-secondary);
        }

        &::after {
            @extend .secondary-alpha-block;
            width: 2px;
            height: calc(100% - var(--spacer-sm) / 2);
            left: .5rem;
            top: calc(var(--spacer-sm) / 2);
        }
    }

    p:not(.note) {
        margin-top: calc(var(--spacer-xs) / 2);
        font-size: .825em;
    }

    h4 {
        margin-top: 0;
    }
}

.skills {
    & > ul {
        list-style: none;
        margin: 0 var(--spacer-sm);
        padding: 0;

        @media screen and (min-width: 600px){
            margin-left: calc(var(--spacer-md) + var(--spacer-xs));
        }

        @media screen and (min-width: 900px){
            margin-left: calc(var(--spacer-md) + var(--spacer-sm));
            margin-right: calc(var(--spacer-md) * 2);
        }

        @media screen and (min-width: 1200px){
            margin-left: calc(var(--spacer-md) * 2);
            margin-right: calc(var(--spacer-xl) * 2);
        }

        @media screen and (min-width: 1400px){
            margin-left: 0;
            margin-right: 0;
        }

        & > li {
            position: relative;
            padding-top: calc(var(--spacer-xs) / 2);
            padding-left: var(--spacer-sm);

            &::before {
                @extend .secondary-alpha-block;
                width: 1.25rem;
                height: 1.25rem;
                left: 0;
                top: 0;
                border-bottom: 1px solid var(--color-alpha-secondary);
            }

            &::after {
                @extend .secondary-alpha-block;
                width: 2px;
                height: calc(100% - var(--spacer-sm) / 2);
                left: .5rem;
                top: calc(var(--spacer-sm) / 2);
            }
        }

        & > li + li {
            margin-top: var(--spacer-xs);
        }

        h4 {
            margin-top: 0;
        }
    }

    & > ul > li > ul {
        list-style: none;
        margin: 0;
        margin-top: var(--spacer-xs);
        padding: 0;

        & > li {
            display: inline-block;
            width: auto;
            padding: calc(var(--spacer-xs) / 2) var(--spacer-xs);
            margin: 0 calc(var(--spacer-xs) / 3) var(--spacer-xs) 0;
            background-color: var(--color-alpha-neutral);
            text-transform: uppercase;
            font-size: .65em;
            letter-spacing: .875px;

            @media screen and (min-width: 900px){
                letter-spacing: 0;
            }
        }
    }
}

.contact {
    & > div {
        margin: 0 var(--spacer-sm);
        font-size: .8em;

        @media screen and (min-width: 600px){
            margin-left: calc(var(--spacer-md) + var(--spacer-xs));
            margin-right: calc(var(--spacer-md) + var(--spacer-xs));
        }

        @media screen and (min-width: 900px){
            margin-left: calc(var(--spacer-md) + var(--spacer-sm));
            margin-right: calc(var(--spacer-md) + var(--spacer-sm));
            margin-bottom: var(--spacer-lg);
        }

        @media screen and (min-width: 1200px){
            margin-left: calc(var(--spacer-md) * 2);
            margin-right: calc(var(--spacer-md) * 2);
            font-size: 1em;
        }

        @media screen and (min-width: 1400px){
            margin-left: calc(var(--spacer-md) + var(--spacer-xl));
            margin-right: calc(var(--spacer-md) + var(--spacer-xl));
        }
    }
}